@{
    ViewBag.Title = "Home Page";
}

@{
    if (ViewBag.feedbackMessage != null)
    {
    <br />
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>@ViewBag.feedbackMessage</p>
        </div>  
    }
}

<div class="jumbotron">
    <h1>Invierta sus ahorros!</h1>
    <p class="lead">Sabía que puede obtener máxima rentabilidad de sus ahorros? Nuestra variedad de proyectos aprobados esperan su inversión para empezar a generar ganancias</p>
    <p>
        @Html.ActionLink("Regístrese aquí", "Register", "Home", new {@class = "btn btn-primary btn-lg" })
    </p>
</div>